[*.cs]

# CA1707: 識別項不應包含底線
dotnet_diagnostic.CA1707.severity = none

# CA1062: 必須驗證公用方法的引數
dotnet_diagnostic.CA1062.severity = none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA5368: 設定頁面衍生類別的 ViewStateUserKey
dotnet_diagnostic.CA5368.severity = none

# CA2000: 必須在超出範圍前處置物件
dotnet_diagnostic.CA2000.severity = none

# CA2100: 必須檢閱 SQL 查詢中是否有安全性弱點
dotnet_diagnostic.CA2100.severity = none

# CA1716: 識別項不應該與關鍵字相符
dotnet_diagnostic.CA1716.severity = none

# CA1303: 不要將常值當做已當地語系化的參數傳遞
dotnet_diagnostic.CA1303.severity = none
