<%@ Master Language="C#" MasterPageFile="~/00_System/MasterPage.Master" AutoEventWireup="true" CodeBehind="AD_MasterPage.master.cs" Inherits="Project._01_Administrator.AD_MasterPage" %>
<asp:Content ID="AD_navbar" ContentPlaceHolderID="navbar" runat="server">
</asp:Content>
<asp:Content ID="AD_MasterWebContent" ContentPlaceHolderID="MasterWebContent" runat="server">
    <asp:ContentPlaceHolder ID="WebContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
